<div class="orders-show">
  <div class="container">
    <div class-"invoice">
      <div class="invoice-header">
        <p class="logo"><i class="fas fa-camera-retro"></i> Paola Frann</p>
      </div>
      <div class="invoice-part-1">
      
        <div class='address'>
          <p><strong>Paola Frann</strong></p>
          <p>London</p>
          <p>United Kingdom</p>
          <p>Phone: +44 xxxxx-xxxxx</p>
          <p>Email: paolafrann@paolafrann.com</p>
        </div>

        <div class='invoice-details'>
          <div class='invoice-detail'>
            <p class="highlight-text">Invoice number: </p>
            <p><%= @order.id %></p>
          </div>

          <div class='invoice-detail'>
            <p class="highlight-text">Invoice date: </p>
            <p><%= @order.created_at.strftime("%d/%m/%Y") %></p>
          </div>

          <div class='invoice-detail'>
            <p class="highlight-text">Payment status: </p>
            <p><%= @order.state %></p>
          </div>
        </div>
      </div>

      <div class="invoice-part-2">
        <table>
          <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td><%= @order.book.name %></td>
            <td>1</td>
            <td><%= humanized_money_with_symbol @order.book.price * 0.8 %></td>
            <td><%= humanized_money_with_symbol @order.book.price * 0.8 %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Subtotal</td>
            <td><%= humanized_money_with_symbol @order.book.price * 0.8 %></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>Tax (20%)</td>
            <td><%= humanized_money_with_symbol @order.book.price * 0.2 %></td>
          </tr>

          <tr class="total">
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td><strong><%= humanized_money_with_symbol @order.book.price %></strong></td>
        </tr>
        </table>
      </div>

    </div>
  </div>
</div>