<div class="book-show">
    <div class= "container">
        <h1 class="show-title"><%= @book.name %></h1>
        <div class="details">
        <div class="main-img">
            <img class="d-block w-100" src="https://picsum.photos/id/1027/500/300" alt="Book">
            <div class="small-images">
                <img class="d-block w-100" src="https://picsum.photos/id/1027/500/300" alt="Book">
                <img class="d-block w-100" src="https://picsum.photos/id/1027/500/300" alt="Book">
                <img class="d-block w-100" src="https://picsum.photos/id/1027/500/300" alt="Book">
                <img class="d-block w-100" src="https://picsum.photos/id/1027/500/300" alt="Book">
            </div>
        </div>

        <div class="description">
            <div class="description-text">
                <p><%= @book.description %></p>
            </div>
            <div class="booking-info">
                <div class="d-flex justify-content-between mb-3">
                    <p><%= humanized_money_with_symbol(@book.price) %></p>
                    <p>Delivery estimate: <%= @book.delivery_estimate %> days</p>
                </div>
                <%= simple_form_for (@order) do |f| %>
                    <%= f.input :booking_date, as: :string, required: true, placeholder: "Select your date", input_html: {class: "datepicker"} %>
                    <%= hidden_field_tag 'book_id', @book.id %>
                    <%= f.button :submit, class: "btn-booking-form" %>
                <% end %>
            </div>
        </div>
    </div>

</div>